{% extends "default.twig" %}

{% block content %}
    <h1 class="ui center aligned header">
        {{ title }}
    </h1>

    {% if email %}

        <form id="form" class="ui large form" method="POST" action="{{ action }}">
            <input id="choice" type="hidden" name="choice" value="">
            <div class="field">
                {{ imageMessage }}
            </div>
            <div class="field">
                <div class="ui small images {{ columnCount }} column grid middle aligned">
                    {% for index, image in images %}
                        <div class="column">
                            <div class="ui hover-effect" onclick="imageClick({{index}});"><img class="ui image" id="{{ 'image_' ~ index }}" src="{{image}}"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% block process_buttons %}
                <div class="field">
                    <a class="ui fluid large grey button" href="/">Cancel</a>
                </div>
            {% endblock process_buttons %}
        </form>

    {% else %}

        <form id="form" class="ui large form" method="POST" action="{{ action }}">
            <div class="field">
                {{ emailMessage }}
            </div>
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail address">
                    </div>
                </div>
                {% block init_buttons %}
                    <div class="field">
                        <button class="ui fluid large green submit button">Next</button>
                    </div>
                    <div class="field">
                        <a class="ui fluid large grey button" href="/">Cancel</a>
                    </div>
                {% endblock init_buttons %}
            </div>
        </form>
        {% if error %}
            <div class="ui error message">{{ error }}</div>
        {% endif %}

    {% endif %}

{% endblock %}

{% block modal %}
{% endblock %}
